<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Not Found</title>
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for('static', filename='css/space.css') }} />
    </head>
    <body>
      <div class='container'>
        <h1>404</h1>
        <h2>Ups Not Found!</h2>
          <div class='circles'>
            <div class='circle' id='circle-1'></div>
            <div class='circle' id='circle-2'></div>
            <div class='circle' id='circle-3'></div>
            <div class='circle' id='circle-4'></div>
            <div class='circle' id='circle-5'></div>
            <div class='circle' id='circle-6'></div>
            <div class='circle' id='circle-7'></div>
          </div>
        </div>
        <div class='orbit'></div>
        <div class='blue-shadow'></div>
        <div class='blue-planet'></div>
        <div class='star-1'></div>
        <div class='star-2'></div>
      </div>
      <div class='small-stars'>
        <div class='small-star' id='small-star-1'></div>
        <div class='small-star' id='small-star-2'></div>
        <div class='small-star' id='small-star-3'></div>
        <div class='small-star' id='small-star-4'></div>
        <div class='small-star' id='small-star-5'></div>
        <div class='small-star' id='small-star-6'></div>
      </div>
      <div class='white-gradient'></div>

        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
          crossorigin="anonymous"></script>
        <!-- <script type="text/javascript" src={{ url_for('static', filename='js/space.js') }} ></script> -->
    </body>
</html>
