<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https:////cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href={{ url_for('static', filename='css/jquery-ui.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='css/space.css') }} />
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />

        <script src={{ url_for('static', filename='js/jquery-1.8.1.min.js') }}></script>
	      <script src={{ url_for('static', filename='js/bootstrap.js') }}></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
        <script src={{ url_for('static', filename='js/space.js') }}></script>
        <title>Exoplanet Wiki</title>
    </head>
    <body>
      <nav class="navbar navbar-dark" style="background-color: #181546";>
        <a class="navbar-brand">Exoplanet Data</a>
      </nav>
      <div class="container">
        <!-- STAR -->
        <div class='star-1'></div>
        <div class='star-2'></div>

        <div class="table-responsive table-light">
          <table class="table display" id="exoplanet-table">
            <thead>
              <tr>
                {% for key, value in planets[0].items() %}
                <th>{{ key }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for planet in planets%}
              <tr>
                {% for key, value in planet.items() %}
                  <td>{{ value }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </body>

    <script>
      $(document).ready(function() {
        $('#exoplanet-table').dataTable({
          "lengthMenu": [[3, 5, 10, -1], [3, 5, 10, "All"]]
        });
      });
    </script>
</html>
