nav .navbar-brand   {
  font-family: 'Space Mono', monospace;
  color:white !important;
  opacity: 0.5;
  font-weight: 700;
}

.table-responsive {
  text-align: center !important;
}

.table-responsive th {
  text-transform: uppercase;
}

