@charset "UTF-8";
body {
  min-height: 100vh;
  background-image: linear-gradient(-181deg, #181546 29%, #b24e88 100%);
  text-align: center;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h1{
  font-family: 'Space Mono', monospace;
  color:white;
  font-size: 5em;
  font-weight: 700;
}

.container h2{
  font-family: 'Space Mono', monospace;
  color:white;
  font-size: 3em;
}

.white-gradient {
  z-index: -100;
  top: 50%;
  left: -20%;
  width: 150%;
  height: 640px;
  border-radius: 100%;
  opacity: 0.18;
  position: fixed;
  box-shadow: inset 0 1px 100px 100px rgba(255, 255, 255, 0.5);
}

.orbit {
  top: -65px;
  right: -95px;
  width: 399px;
  height: 399px;
  position: absolute;
  border-radius: 100%;
  opacity: 0.1;
  border: 3px solid #FFFFFF;
}

.circle {
  z-index: 10000;
  background: #FAA3DC;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
}

#circle-1 {
  width: 76px;
  height: 76px;
  margin-top: 160px;
  margin-left: 45px;
}

#circle-2 {
  width: 50px;
  height: 50px;
  margin-top: 65px;
  margin-left: 130px;
  opacity: 0.6 !important;
}

#circle-3 {
  width: 12px;
  height: 12px;
  margin-top: 60px;
  margin-left: 200px;
  opacity: 1.0 !important;
}

#circle-4 {
  width: 24px;
  height: 24px;
  margin-top: 40px;
  margin-left: 90px;
  opacity: 1.0 !important;
}

#circle-5 {
  width: 12px;
  height: 12px;
  margin-top: 70px;
  margin-left: 45px;
  opacity: 1.0 !important;
}

#circle-6 {
  width: 24px;
  height: 24px;
  margin-top: 155px;
  margin-left: 190px;
  opacity: 0.46 !important;
}

#circle-7 {
  width: 24px;
  height: 24px;
  margin-top: 220px;
  margin-left: 150px;
  opacity: 0.3 !important;
}

.star-1 {
  z-index: 20000;
  width: 6px;
  height: 6px;
  position: absolute;
  margin-top: -190px;
  margin-left: -90px;
}

.star-2 {
  z-index: 20000;
  width: 6px;
  height: 6px;
  position: absolute;
  margin-top: -90px;
  margin-left: 370px;
}

.star-1 {
  animation: glitter 4.5s linear 0s infinite normal;
  -webkit-animation: glitter 4.5s linear 0s infinite normal;
  -moz-animation: glitter 4.5s linear 0s infinite normal;
  -ms-animation: glitter 4.5s linear 0s infinite normal;
  -o-animation: glitter 4.5s linear 0s infinite normal;
}

.star-2 {
  animation: glitter 7s linear 0s infinite normal;
  -webkit-animation: glitter 7s linear 0s infinite normal;
  -moz-animation: glitter 7s linear 0s infinite normal;
  -ms-animation: glitter 7s linear 0s infinite normal;
  -o-animation: glitter 7s linear 0s infinite normal;
}

.star-1:before,
.star-1:after, .star-2:before,
.star-2:after {
  content: "";
  position: absolute;
  background-color: white;
  display: block;
  left: 0;
  width: 141.4213%;
  /* 100% * √2 */
  top: 0;
  bottom: 0;
  border-radius: 5%;
  transform: rotate(66.66deg) skewX(45deg);
}

/* the same but +90deg to rotate */
.star-1:after, .star-2:after {
  transform: rotate(156.66deg) skew(45deg);
}

@-webkit-keyframes glitter {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes glitter {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  25% {
    -moz-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
.small-stars {
  width: 600px;
  height: 100vh;
  display: inline-block;
}

.small-star {
  z-index: 10000;
  background: white;
  opacity: 0.5;
  position: fixed;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

#small-star-1 {
  margin-top: 50px;
  margin-left: 100px;
}

#small-star-2 {
  margin-top: 45px;
  margin-left: 500px;
}

#small-star-3 {
  margin-top: 350px;
  margin-left: 90px;
}

#small-star-4 {
  margin-top: 420px;
  margin-left: 0;
}

#small-star-5 {
  margin-top: 440px;
  margin-left: 520px;
}

#small-star-6 {
  margin-top: 350px;
  margin-left: 630px;
}
